/* STUFF */

html {
    scroll-behavior: smooth;
}

:root {
    --main: #272D33;
    --tGray: #272d33c2;
    /* --iframeT: #272d33e7; */
    --iframeT: #ffffffd7;
    --tran: #ffffffb7;
}

div {
    border-radius: 25px;
}
footer {
    border-radius: 25px;
}
iframe {
    border-radius: 3px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Parallax */

.parallax, .parallaxText, .parallaxBase {
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;  
}
.parallax, .parallaxText{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.parallax {
    height: 300px;
}
.parallaxCity{
    background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg"); 
}



/* NAV BAR STUFF */

#nav {
    /* font-family: Helvetica; */
    font-family: 'Comfortaa';
    background-color: var(--main);
    color: white;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

#nav button {
    /* font-family: Helvetica; */
    font-family: 'Comfortaa';
    background-color: var(--main);
    color: white;
    font-size: 32px;
    padding: 5px;
    border-radius: 15px;
}

#nav .items:hover {
    background-color: gray;
    opacity: 0.5;
}