/* ABOUT ME STUFF (HOME)*/

#me {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 1vw;
}

#meText {
    margin-right: 4%;
}

#me img {
    width: 350px;
    margin: 1.5%;
    margin-left: 3%;
}

#me img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}

    10% {transform: translate(-1px, -2px) rotate(-1deg);}

    20% {transform: translate(-3px, 0px) rotate(1deg);}

    30% {transform: translate(3px, 2px) rotate(0deg);}

    40% {transform: translate(1px, -1px) rotate(1deg);}

    50% {transform: translate(-1px, 2px) rotate(-1deg);}

    60% {transform: translate(-3px, 1px) rotate(0deg);}

    70% {transform: translate(3px, 1px) rotate(-1deg);}

    80% {transform: translate(-1px, -1px) rotate(1deg);}

    90% {transform: translate(1px, 2px) rotate(0deg);}

    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

#my-box:checked+label {
    color: #ff0000;
}

#my-box {
    display: none;
}



/* EDU STUFF (HOME)*/

#edu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
}

#eduText {
    margin-left: 4%;
}

#edu img {
    border-radius: 75px;
    width: 350px;
    margin: 10px 5% 10px 1%;
    /* margin: top right bottom left */ 
}



/* PJ STUFF (HOME)*/

#pj {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
}

#PJtext {
    margin: 2.5%;
}

#pj button {
    font-family: Helvetica;
    font-size: 20px;
    padding: 3px;
    width: 175px;
    background-color: var(--main);
    color: white;
    border-radius: 15px;
}

#pj button:hover {
    background-color: gray;
    opacity: 0.5;
}

iframe {
    width: 70vw;
    height: 600px;
    border: 1px solid black;
    background-color: var(--iframeT);
}



/* FOOTER STUFF (HOME)*/

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-top: 10px;
}

#footer img {
    height: 10vh;
    max-height: 150px;
}



/* PHONE */

@media(max-width: 530px) {
    .sec {
        display: flex;
        flex-direction: column;
    }

    #nav {
        display: flex;
        flex-direction: column;
    }

    #nav button {
        font-size: 55%;
    }
}



/* OTHER */

.sec {
    background-color: var(--tGray);
    color: white;
}